@import url('https://fonts.googleapis.com/css?family=Domine|Orbitron&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Domine', serif;
}

a {
  text-decoration: none;
}

/* Utilities */

.text-primary {
  color: #0065cc;
}

.logo {
  font-family: 'Orbitron', sans-serif;
  padding-left: 1rem;
}

.large {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1;
  font-style: italic;
  text-decoration: #0065cc underline;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 0.5rem 1rem;
  border: 2px solid #0065cc;
  border-radius: 5px;
}

.btn:hover {
  background: #fff;
  color: #0065cc;
}

.medium {
  font-family: 'Orbitron', sans-serif;
  text-decoration: #0065cc underline;
  padding-left: 1rem;
  padding-top: 1rem;
}

.small {
  font-size: 1.2rem;
  padding-bottom: 0.4rem;
}

/* Header */
.header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  height: 12vh;
  background: #000c19;
  z-index: 1;
}

.inner-header {
  display: flex;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  background: #000c19;
  justify-content: space-between;
  align-items: center;
}

.inner-header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.inner-header ul li a {
  color: #fff;
  padding: 1rem;
}

.inner-header ul li a:hover,
.inner-header ul li .current {
  color: #0065cc;
  background: #fff;
  border-radius: 7px;
}

/* Welcome */
#case {
  background: #333 url('../img/case.jpg') no-repeat center center;
  height: 88vh;
  color: #fff;
}

#case .case-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Services */
#services {
  display: flex;
  width: 100%;
  height: 100%;
  /* background: yellow; */
}

.box {
  display: block;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  /* background: green; */
}

.grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 500px));
  grid-auto-rows: 275px;
  grid-gap: 2rem;
  padding: 2rem 0;
  justify-content: center;
}

.card {
  position: relative;
  border: 1px black solid;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  
}

.card:hover {
  transform: rotateY(180deg)
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #0065cc;
  margin: 0 auto;
  border-radius: 10px;
  transform: rotateY(180deg);
}

.back ul {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  font-size: 1.5rem;
  padding-top: 3rem;
  width: 100%;
  height: 100%
}

.back ul li {
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  color: #fff;
}

.back ul li span {
  font-size: 1.1rem;
}

#card-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(../img/1.jpg) no-repeat center center/cover;
}

#card-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(../img/2.jpg) no-repeat center center/cover;
}

#card-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(../img/3.jpg) no-repeat center center/cover;
}

#card-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url(../img/4.jpg) no-repeat center center/cover;
}

/* Contact */
#contact {
  display: flex;
  width: 100%;
  height: 180px;
  background: lightgrey;
}

.inner-contact {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.wrap {
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.info {
  padding-left: 1.3rem;
}

/* Footer */
.footer {
  display: flex;
  background: #000c19;
  position: relative;
  width: 100%;
  height: 50px;
  clear: both;
}

.foot {
  background: #000c19;
  color: #fff;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.foot a {
  font-family: 'Orbitron', sans-serif;
  color: #0065cc;
}

/* Call Now */
#call-now {
  display: none;
}
