@media(max-width: 500px) {
  /* Header */
  .inner-header {
    flex-direction: column;
    align-items: center;
    height: 15vh;
  }

  .inner-header .logo {
    padding: 0.5rem 0;
  }

  .inner-header ul {
    padding-bottom: 1rem;
  }

  .inner-header ul li a {
    padding: 0.5rem 1.2rem;
  }

  /* Welcome */
  #case {
    position: relative;
    height: 88vh;
  }

  #case .case-content {
    top: 0px;
    margin: 0;
    padding: 0;
  }
  
  .large {
    font-size: 2rem;
    padding: 0 3rem;
    text-decoration: none;
  }

  .large span {
    text-decoration: underline 3px #0065cc;
  }

  .lead {
    font-size: 1.1rem;
    text-align: justify;
  }

  /* Services */
  .grid li {
    width: 280px;
    height: 154px;
    display: inline-block;
    margin: 10px;
  }

  .img1 { 
    background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10) ),
    url(../img/a.jpg);
  }
   
  .img2 { 
    background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10) ),
    url(../img/b.jpg);
  }
   
  .img3 { 
    background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10) ),
    url(../img/c.jpg);
  }
   
  .img4 { 
    background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10) ),
    url(../img/d.jpg);
  }

  /* Contact */
  #contact {
    height: 330px;
  }

  .wrap {
    display: block;
    text-align: center;
  }

  #call, #address, #email {
    padding-bottom: 2rem;
  }

  /* Footer */
  .footer {
    height: 65px;
    font-size: 0.8rem;
  }
}

